<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <link rel="stylesheet" href={% static 'css/main.css' %}>
        <link rel="stylesheet" href={% static 'css/inicio.css' %}>
        <link rel="stylesheet" href={% static 'css/form.css' %}>
        <link rel="stylesheet" href={% static 'css/tablas.css' %}>
        <link rel="stylesheet" href={% static 'css/draggable_card.css' %}>
        <link rel="stylesheet" href={% static 'css/botones.css' %}>
        <link rel="stylesheet" href={% static 'css/slider.css' %}>
        <link rel="stylesheet" href={% static 'css/login_signin.css' %}>
        
        {% block icono %} <link rel="icon" href="https://cdn.icon-icons.com/icons2/1744/PNG/512/3643769-building-home-house-main-menu-start_113416.png">{% endblock %}
        <title>{% block title %}Sistema de ventas {% endblock %}</title>
    </head>
    <body>
        <nav>
            <input type="checkbox" id="sidebar-active">
            <label for="sidebar-active" class="open-sidebar-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
            </label>

            <label id="overlay" for="sidebar-active"></label>

            <div class="links-container">
                <label for="sidebar-active" class="close-sidebar-button">
                    <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                </label>

                <a href={% url 'home' %}>Inicio</a>
                <a href={% url 'core:product_list' %}>Productos</a>
                <a href={% url 'core:brand_list' %}>Marcas</a>
                <a href={% url 'core:supplier_list' %}>Proveedores</a>
                <a href={% url 'core:category_list' %}>Categorias</a>
                {% if user.is_authenticated %}
                <a href="/logout"> <i class="bi bi-box-arrow-in-left"></i> Salir</a>
                {% else %}
                <a href={% url 'core:signup' %}> <i class="bi bi-person-check"></i> Registrarse</a>
                <a href=/signin> <i class="bi bi-box-arrow-in-right"></i> Ingresar</a>
                {% endif %}
            </div>
        </nav>

        <main id="content">
            {% block content %}
            <h1>{{title2}}</h1>
            {% endblock content %}
        </main> 

        <script src={% static 'js/draggable_card.js' %}></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="{% static 'js/sweet_alert.js' %}"></script>
    </body>
</html>